
html,
body {
  height: 100%;
}

header {
  font-family: serif;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

/* Main Section */
.main-section {
  padding: 0.5rem 5em;
  border-bottom: 0.1rem solid #ccc;
  color: black;
  background-color: #002d00;
}
.header-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.8rem;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}
